*{
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}
body{
    /* ROXINHO MANEIRO  */
    background-color: rgb(7, 7, 19);
    /* background-color: rgb(48, 56, 65); */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #b9fc7b;
    /* text-align: left; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Configuracoes dos h1 */
.h1{
    font-size: 3rem;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #b9fc7b;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Configuracoes dos h2 */
.h2{
    font-size: 1.8rem;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #b9fc7b;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Configuracoes do nav do header */
.navbar-header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 45px; */
    width: 100%;
    height: 70px;
    /* ROXINHO MANEIRO */
    background-color: rgb(26, 26, 70); 
    /* background-color: rgb(68, 83, 94); */
    margin: 0;
    padding: 0 ;
    position: fixed;
    /* box-sizing: border-box; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Configuracoes dos "botoes" da navbar  */
.button-nav{
    font-size: 22px;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #b9fc7b;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button-nav:hover {
    color: white; /* Altere para a cor desejada */
}

.link-externo{
    /* text-decoration: none; */
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Configuracoes da linha que divide as sections */
.linha-separa{
    width: 85%;
    height: 3px;
    border: 0;
    border-radius: 95%;
    color: #b9fc7b;
    background-color: #b9fc7b;
}

 /* Configuracoes dos textos das divs */
.texto-div{
    width: 70%;
    height: 85%;
    align-content: center;
    align-self: center;
    background-color: rgba(39, 39, 102, 0.4);
    padding: 20px;
    border-radius: 25px;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Configuracoes das imagens das divs */
.imagem-div{
    justify-content: end;
}

/* Configuracoes das sections */
.sections{ 
    align-self: center;
    width: 85%;
    height: 85%;
    display: flex;
    border-radius: 39%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: auto;
    padding: 55px;
    /* box-sizing: border-box; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Configuracoes da section inicio */
.inicio{
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#skills h2{
    color: #ffffff;
}